<div class="flex items-center md:gap-3 gap-6">
  <div
    class="w-12 h-12 cursor-pointer flex justify-center items-center backdrop-filter backdrop-blur-lg saturate-180 bg-opacity-75 bg-black-200 rounded-lg border border-black-300"
  >
    <a
      href="https://github.com/axel-po"
      title="GitHub Axel Pointud"
      target="_blank"
    >
      <img
        class="w-full h-full p-3"
        src={"/images/icons/github.svg"}
        alt="icon github"
      />
    </a>
  </div>

  <div
    class="w-12 h-12 cursor-pointer flex justify-center items-center backdrop-filter backdrop-blur-lg saturate-180 bg-opacity-75 bg-black-200 rounded-lg border border-black-300"
  >
    <a
      href="https://www.linkedin.com/in/axel-pointud-7a891b1ba/"
      target="_blank"
      title="Linkedin Axel Pointud"
    >
      <img
        class="w-full h-full p-3"
        src={"/images/icons/linkedin.svg"}
        alt="icon linkedin"
      /></a
    >
  </div>

  <div
    class="w-12 h-12 cursor-pointer flex justify-center items-center backdrop-filter backdrop-blur-lg saturate-180 bg-opacity-75 bg-black-200 rounded-lg border border-black-300"
  >
    <a href="mailto:contact@axel-pointud.fr" title="Mail Axel Pointud">
      <img
        class="w-full h-full p-3"
        src={"/images/icons/mail.svg"}
        alt="icon email"
      />
    </a>
  </div>
</div>
